@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
	background-color: #f5f8fa;
	font-family: "Roboto", sans-serif;
}
#container {
	width: 100%;
	height: 200px;
	background-color: #b9e9c1;
	padding: 10px;
	border-radius: 10px;
}
img {
	margin-left: 35%;
	height: 100%;
	border-radius: 50%;
}
#box {
	width: 50%;
	height: 450px;
	/* border: 1px solid black; */
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 4%;
}
button {
	background-color: rgb(255, 147, 8);
	color: white;
	/* height: 40px; */
	padding: 15px 20px;
	border-radius: 10px;
	font-weight: 600;
	border: none;
	width: 150px;
}
button:hover {
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#container2 {
	text-align: center;
	background-color: rgb(230, 230, 230);
	padding: 20px;
	margin-top: 10px;
	border-radius: 10px;
}
h1 {
	color: rgb(29, 29, 29);
	margin: 10px auto;
}
h2 {
	color: rgb(0, 143, 143);
}
h3 {
	color: rgb(29, 29, 29);
}
#feedBack {
	margin: 0;
	color: rgb(29, 29, 29);
}
#feedBack > span {
	display: block;
	margin: 5px 0 15px 0;
	color: rgb(8, 127, 163);
}
#feedBackForm {
	background-color: seagreen;
}
