body {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
.loaderS {
  height: 8rem;
  width: 8rem;
  background-color: #f1423f;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  box-shadow: 0 0 0 -0.7rem#f1423f, 0 0 0 -0.7rem#f1423f, 0 0 0 -1.5rem#f1423f,
    0 0 0 -1.5rem#f1423f;
  animation: split 3.5s forwards infinite;
}
@keyframes split {
  25% {
    box-shadow: 9rem 0 0 -0.7rem#f1423f, -9rem 0 0 -0.7rem#f1423f,
      9rem 0 0 -1.5rem#f1423f, -9rem 0 0 -1.5rem#f1423f;
  }
  50% {
    box-shadow: 9rem 0 0 -0.7rem#f1423f, -9rem 0 0 -0.7rem#f1423f,
      18rem 0 0 -1.5rem#f1423f, -18rem 0 0 -1.5rem#f1423f;
  }
  75% {
    box-shadow: 9rem 0 0 -0.7rem#f1423f, -9rem 0 0 -0.7rem#f1423f,
      9rem 0 0 -1.5rem#f1423f, -9rem 0 0 -1.5rem#f1423f;
  }
  100% {
    box-shadow: 0 0 0 -0.7rem#f1423f, 0 0 0 -0.7rem#f1423f, 0 0 0 -1.5rem#f1423f,
      0 0 0 -1.5rem#f1423f;
  }
}
@media (max-width: 998px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 760px) {
  html {
    font-size: 40%;
  }
}
