* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.extraspace {
  height: 100px;
}

@media screen and (max-width: 1100px) {
  .extraspace {
    height: 50px;
  }
}

.banner {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.bannerDiv {
  display: flex;
}

.bannerimg1 {
  width: 100%;
  height: intrinsic;
}

.bannerimg2 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.limitedtimeHeadingDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.limitedtimeHeading {
  font-weight: 700;
  font-size: 3.2rem;
  color: #2f3337;
  line-height: 1.2;
  margin: 0 0 3.2rem;
}

.limitedtimeDiv {
  width: 100%;
}

.universalSpacing {
  padding: 3.2rem 0;
}

.universalSpacingX {
  padding: 2.4rem;
}

.offerContainer,
.categoryContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  row-gap: auto;
}

.offerCard {
  width: 18.5rem;
}

.categoryCard {
  width: 18.2rem;
}

.offerCardLink,
.categoryCardLink {
  display: inline-block;
  height: 100%;
  text-align: center;
  width: 100%;
}

.offerCardImgDiv,
.categoryCardImgDiv {
  height: 0;
  min-width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.offerCardTitleDiv,
.categoryCardTitleDiv {
  padding: 0.8rem 1.6rem 0;
}

.offerCardImg,
.categoryCardImg {
  width: 100%;
}

.offerCardTitle,
.categoryCardTitle {
  font-weight: 700;
  margin: 0;
  color: #2f336f;
}

.categoryCardTitle {
  color: #545658;
}

.title-xs {
  font-size: 1.6rem;
}

.ImageTilesSectionStyles_tiles__AcMsv {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.4rem -1.6rem;
  color: #2f3337;
}
/* slider  */
.mainSlider {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slider {
  grid-gap: 0.8rem;
  gap: 1.9rem;
  padding: 0 0.8rem;
  margin: 0 -0.8rem;
  display: flex;
  left: 0;
  transition: left 0.3s ease-out;
  position: relative;
}

.SliderCardp {
  border: 1 solid #fff;
  box-sizing: content-box;
  min-width: 29rem;
  max-width: 29rem;
}

.SliderCard {
  flex-shrink: 0;
  width: 100%;
}

.SliderCardLink,
.SliderCardLink:active,
.SliderCardLink:hover {
  text-decoration: none;
  color: inherit;
}

.SliderCardLink img {
  width: 100%;
}

.sliderCardDiv {
  height: 100%;
  width: 100%;
  padding: 1.6rem 2.4rem;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: #000;
  background-color: #f5f5f5;
}

.sliderCardHeading {
  color: #2f3337;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  margin-bottom: 0.8rem;
}

.sliderCardTitle {
  color: #2f3337;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.mainSlider .btn {
  position: absolute;
  top: 40%;
  text-decoration: none;
  padding-left: 0.1rem;
  padding-right: 0.2rem;
  margin: -0.1rem;
  background-color: white;
  border: wheat;
  border-radius: 0.3rem;
  cursor: pointer;
}

#nextwatch {
  right: 0;
}

#prevwatch:hover,
#nextwatch:hover {
  color: rgb(192, 192, 192);
}
/* end slider */

.styleCardDiv {
  display: flex;
  overflow: hidden;
  gap: 1.9rem;
  left: 0;
}

.styleCard {
  max-width: 38.6rem;
}

.seeAllButtonDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.seeAllButtonLink,
.seeAllButtonLink:active,
.seeAllButtonLink:hover {
  text-decoration: none;
  color: inherit;
}

.seeAllButton {
  margin-top: 1.6rem;
  width: 15rem;
  height: 4.4rem;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trendingSearchDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 1.9rem;
  left: 0;
}

.trendingSearchDivLink {
  width: 28.6rem;
}

.trendingSearch {
  height: 100%;
}

.trendingSearchText {
  width: 100%;
  height: 100%;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


@media (max-width: 1024px) {
  html {
    font-size: 55%;
  }
  .offerContainer,
  .categoryContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    row-gap: 1rem;
    justify-content: space-between;
  }
}

@media (max-width: 998px) {
  html {
    font-size: 55%;
  }
  .offerContainer,
  .categoryContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    row-gap: 1rem;
    justify-content: space-between;
  }
}

@media (max-width: 760px) {
  html {
    font-size: 40%;
  }
  .offerContainer,
  .categoryContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
